<a href="https://colab.research.google.com/github/ucchol/lecture0/blob/master/TA_Class_Loops_02142023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print  1 to 100
for i in range(1, 101):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
#print 1 to 10
for i in range(1, 11):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
#while loop
x=1
while x<=20:
  print(x, end=" ")
  x+=2 #odd numbers

1 4 7 10 13 16 19

In [ ]:
#while loop divisible by 3
x=1
while x<=20:
  if (x%3)==0:
    print(x, end=" ")
  x+=1 #increment by 1

3 6 9 12 15 18

In [ ]:
#print all the even numbers between 1 and 11 and add them
x=2
sum=0
while x<=11:
  print(x, end=" ")
  sum +=x
  x+=2
  #sum +=x
print("\n Sum: ", sum)

2 4 6 8 10
 Sum:  30

In [ ]:
#break statement
x=1
while x<=10:
  print(x, end=" ")
  if(x%7)==0:
    break
  x+=1

1 2 3 4 5 6 7

In [ ]:
#continue statement
x=0
while x<10:
  x+=1
  if(x==5):
    continue
  print(x, end=" ")

1 2 3 4 6 7 8 9 10

In [ ]:
#for loop
for i in range(1,11,2):   #(lower range, upper range, increment)
  print(i, end=" ")

1 3 5 7 9

In [ ]:
#for loop for n natural number
n= int(input("please enter a number: "))
sum=0
for i in range(1, n+1):
  sum+=i
print("Sum of all the numbers: ",sum)

please enter a number: 111
Sum of all the numbers:  6216

In [ ]:
#sum of all the digits in a number

num = input("Please input a number: ")
sum = 0
for i in str(num):
    sum += int(i)
print(sum)

Please input a number: 88888
40