<a href="https://colab.research.google.com/github/ucchol/lecture0/blob/master/TA_Class_nested_loops_02162023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NESTED LOOPS

In [34]:
for i in range(1, 5):          # printing 1 to 4 in outer loop
  print(i, end=" ")
  for j in range(11, 16):      # printing 11 to 15 in inner loop
    print(j, end=" ")

1 11 12 13 14 15 2 11 12 13 14 15 3 11 12 13 14 15 4 11 12 13 14 15

In [8]:
for i in range(1, 11):
  print("Hello!", end=" ")

Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello!

In [13]:
#only printing for add number
for i in range(1, 11, 2):
  print("Hello!", end=" ")

Hello! Hello! Hello! Hello! Hello!

In [16]:
i=1
while (i<=10):
  print(i, end= " ")
  #i+=1
  i+=2 #printing odd

1 3 5 7 9

In [23]:
for i in range(1, 4):
  for j in range(1, 4):
    print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [32]:
#printing only inner loop

for i in range(1, 4):
  for j in range(1, 4):
    print(j, end= " ")

1 2 3 1 2 3 1 2 3

# LISTS

Lists are used to store multiple values in a single variable. Lists are one of the four built in data type in python. Others are: set, tuples, dictionary

*   Lists allow duplicate values
*   Lists items are indexed, the first item has index [0], the second item has index [1] and so on.

In [40]:
#creating a list
mylist= [1,5,8,23,2,56]
print(type(mylist))  #checking the datatype
print(mylist)        #printing the list elements
mylist2= ['apple', 'banana', 'cucumber', 'orange']  #creating a list of strings
print(mylist2)
mylist3= [1,2,3,4, 'apple', 6] #creating a list with int and string, which we can't do in Java and C
print(mylist3)

<class 'list'>
[1, 5, 8, 23, 2, 56]
['apple', 'banana', 'cucumber', 'orange']
[1, 2, 3, 4, 'apple', 6]

In [47]:
#printing a particular element from a list
print(mylist3[4])  #lists starts from index 0
print(mylist2[0], mylist2[3])  #printing multiple index values

apple
apple orange

In [53]:
#multiple input in list with loops with append

marks=[]
print("Please enter marks for five subjects: ")
for i in range(5):  #i value 0,1,2,3,4
  x=input()
  marks.append(x)   #append will transfer the value to the list

print(marks)

Please enter marks for five subjects:
78
45
45
45
93
['78', '45', '45', '45', '93']

In [62]:
#mixing with other list

marks=[]
print("Please enter marks for three subjects: ")
for i in range(3):  #i value 0,1,2
  x=input()
  marks.append(x)   #append will transfer the value to the list

marks2=[86, 94]
marks= marks + marks2
print(marks)

Please enter marks for three subjects:
67
66
65
['67', '66', '65', 86, 94]

In [ ]:
#remove("itemname")

subjects=[]
print("Please enter four subjects: ")
for i in range(4):  #i value 0,1,2,3
  x=input()
  subjects.append(x)   #append will transfer the value to the list

print(subjects)

Please enter four subjects: